.title{
    font-size: 34px;
    color: maroon;
    
}
.block{
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    background: beige;
    width: 400px;
    margin-left: 35%;
    margin-top: 20px;
}