@import "./variables.scss";


body{
    background: $primary-color;
    font: "Arial";
}
button{
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
    background: $btn-main-color;
    border: none;
    
    &:hover{
        background: $btn-hover-color;
    }
    
}

nav{
    ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-bottom: 20px;
        margin-top: 30px;
    }
    li{
        display: inline-block;
    }
    a {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: aliceblue;
    }
}
.block{
    border: 1px solid red;
    border-radius: 5px;
    color: red;
    background: beige;
    width: 400px;
    margin-left: 35%;
    margin-top: 20px;
}
div:hover{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}